<!DOCTYPE html>
<html>
  <head>
    <title>Cat Pics Rate!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class ="banner-container">
      <div class="banner">
        <a href="/rate">Home</a>
        <a href="/history">Rate History</a>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
